@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap');

* {
    font-family: 'Fira Sans', sans-serif;
}

*::-webkit-scrollbar {
    width: 0.5em;
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: darkgray;
    outline: 1px solid slategrey;
}

.bg-dark, .bg-light, .thead-dark, .thead-light, .table-dark, .text-white, .table-light {
    transition: .25s background-color, color;
}

.newmsg-button.bg-dark {
    border: 1px solid #ffffff;
    border-bottom: none;
}

a.nav-link {
    padding-left: 0 !important;
}

.navbar-brand {
    display: inline-block;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
}

table {
    table-layout: fixed;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    position: relative;
}

.newmsg-btn {
    width: 100%;
    padding: 10px;
    background: #ffffff;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 700;
    margin: 1em 0;
    text-align: center;
}

td:last-child:before {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    content: '';
}

td.vanish-dark:before {
    background: linear-gradient(90deg, transparent, var(--dark));
}

td.vanish-light:before {
    background: linear-gradient(90deg, transparent, var(--light));
}

.mailIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    width: 50px;
    height: 50px;
    padding: 4px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffc107;
}

@media (max-width: 768px) {
    .newmsg-button {
        right: 0;
        border-radius: 5px 0 0 0;
    }

    .newmsg-button.bg-dark {
        border-right: none;
    }

    .navbar-mobile {
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        text-align: center;
        display: none;
    }
}